.strategy-type-box {
  margin-bottom: 32px;
}

.strategy-type-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #f9f9f9 ;
}

.strategy-type-description {
  font-size: 0.9rem;
  color: #d1d5db;
  margin-bottom: 8px;
}

.strategy-type-param-group {
  margin-top: 12px;
  color: #000;
}

.strategy-type-param {
  margin-left: 8px;
  margin-bottom: 6px;
}

.strategy-type-param-label {
  font-size: 0.9rem;
  color: #a855f7;
}

.strategy-type-param-desc {
  font-size: 0.75rem;
  color: #d1d5db;
  margin-left: 12px;
  display: block;
}