.strategy-compare-chart-wrapper {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 16px;
  }
  
  .strategy-compare-chart-title {
    color: #a259ff;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 18px;
  }

.recharts-default-tooltip {
  background-color: #1c1c2e !important;
  border: 1px solid #444 !important;
  border-radius: 8px;
  color: #e0e0ff;
  padding: 10px;
  font-size: 0.85rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}